<!DOCTYPE html>
<html>
<title>Designsperation - get inspired</title>


<!-- character set and online style sheet -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- navigation bar -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a ><b>DESIGNSPIRATION</b> get inspired</a>
   

    <div class="w3-right w3-hide-small">
      <a href="/home" class="w3-bar-item w3-button">Home</a>
      <a href="/projects" class="w3-bar-item w3-button">Projects</a>
      <a href="/galleries" class="w3-bar-item w3-button">Galleries</a>
      <a href="/staff" class="w3-bar-item w3-button">Staff</a>
      <a href="/signup" class="w3-bar-item w3-button">Sign Up</a>
    </div>
  </div>
</div>

<!--galleries -->
<div class="w3-container w3-padding-32" id="galleries">
 <br>
 <p style="font-size: 20pt;"><b>Featured Galleries</b></p>
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"></h3>
  </div>
<br>
   <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
  <a href="https://www.artsy.net/zemack-contemporary-art" class="w3-display-topleft w3-black w3-padding">Zemack Contemporary Art (ZCA) Tel Aviv</a>
      </div>
    <br><br>
    <br>
    <br>
        <p style="margin-left: 10px; font-size: 13pt;"> ZCA aims to deliver a fresh perspective on contemporary art, created by established Israeli and international artists. Since its foundation in 2010, ZCA has had a notable impact on the Israeli art scene, and is currently considered one of the leading galleries in Tel Aviv.</p>
<div class="w3-display-container">
     
        
      </div>
    </div>
    <br>
    <br>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='zemack2.jpg')}}" style="width:100%">
      </div>
    </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='zemack3.jpg')}}" style="width:180%">
   
 
    </div>
  </div>
    </div>
<br>
   <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
  <a href="http://www.walledoffhotel.com/" class="w3-display-topleft w3-black w3-padding">The Walled Off Hotel by Banksy, Bethlehem</a>
      </div>
  <br>
    <br>
    <br>
        <p style="margin-left: 10px; font-size: 13pt;"> The famous British artist Banksy is back with a brand new project called “The Walled Off Hotel,” and people can literally sleep inside this work of art. Located in Bethlehem, it offers the ‘worst view in the world’ with windows overlooking the controversial wall that separates the West Bank from Israel. The Walled Off hotel is itself a whole gallery, and presents political and contemporary art. </p>
<div class="w3-display-container">
     
        
      </div>
    </div>
    <br>
    <br>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='wall1.jpg')}}" style="width:100%">
      </div>
    </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='wall2.jpg')}}" style="width:170%">
   
 
    </form>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br>
<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p><b>DESIGNSPIRATION</b> get inspired</a></p>
</footer>


</body>
</html>