<!DOCTYPE html>
<html>
<title>Designsperation - get inspired</title>


<!-- character set and online style sheet -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- navigation bar -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a ><b>DESIGNSPIRATION</b> get inspired</a>
   

    <div class="w3-right w3-hide-small">
      <a href="/home" class="w3-bar-item w3-button">Home</a>
      <a href="/projects" class="w3-bar-item w3-button">Projects</a>
      <a href="/galleries" class="w3-bar-item w3-button">Galleries</a>
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#staff" class="w3-bar-item w3-button">Staff</a>
    </div>
  </div>
</div>

<!-- header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="{{url_for('static', filename='jackson.jpg')}}" width="1500" height="760">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h2 class="w3-xxxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>DESIGNSPIRATION</b></span> </h2>
  </div>
</header>

<!-- page -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- about section -->
  <div class="w3-container w3-padding-32" id="about">
  <br>
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About Designspiration</h3>

    <h2><p class="w3-opacity"> Designspiration™ is an online platform to showcase & discover creative work, specificaly modern graphic illustration and design, created by young artists. 
    <br>
    The Designspiration site was created in order to premote young graphic designers on the rise, and inspire others to create themselves.
    </p></h2>

  <!-- artists section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Featured Projects</h3>
  </div>


  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Thomas Hedger</div>
        <br>
        <br>
        <img src="{{url_for('static', filename='hedger1.jpg')}}" style="width:100%">
      </div>
    </div>
    <br>
    <br>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='hedger2.jpg')}}" style="width:100%">
      </div>
    </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='hedger3.jpg')}}" style="width:100%">
    </div>
    </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='hedger4.jpg')}}" style="width:100%">
    </div>
    </div>
        <p> <b>Thomas Hedger</b> is an award winning artist from London whose work utilises negative space to create bold, eye catching pieces. Drawing much inspiration from his time at Central Saint Matins, he employs a carefully selected colour palette to depict a wide variety of subject matter, from witty everyday scenarios to serious matters and abstract concepts.

		Hedger has worked with a variety of clients including The Telegraph, Urban Outfitters, Wired and The Scouts Association.
     <br>
     <br>
     <br>
<div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Steven Harrington</div>
        <br>
        <br>
        <img src="{{url_for('static', filename='steven1.jpg')}}" style="width:200%">
      </div>
    </div>
    <br>
    <br>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container w3-right w3-hide-small">
      </div>
    </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='steven2.jpg')}}" style="width:140%">
    </div>
    </div>

  <div class="w3-container w3-padding-32" id="about">
    
    <p>	Cited as leading a contemporary Californian psychedelic-pop aesthetic, Los Angeles–based artist and designer <b>Steven Harrington</b> is best known for his bright, iconic style that encourages a two-way conversation between the artist and viewer. There’s a timeless quality to his playful yet contemplative work, inspired by California’s mystique, vastly diverse landscape, and thriving mix of cultures. Embracing a multimedia approach, Harrington’s portfolio includes large-scale installations out of plaster and stone, hand screened prints, limited-edition books, skateboards, and sculptures. 
      </div>
    </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Malika Favre</div>
        <br>
        <br>
        <img src="{{url_for('static', filename='favre1.jpg')}}" style="width:100%">
      </div>
    </div>
    <br>
    <br>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='favre2.jpg')}}" style="width:100%">
      </div>
    </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='favre3.jpg')}}" style="width:100%">
    </div>
    </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='favre4.jpg')}}" style="width:98%">
    </div>
    </div>
    <br>
        <p> When travel company Kuoni France approached London-based French illustrator <b>Malika Favre</b> to help decorate its new travel brochure for 2016, she applied her usual unmistakable style – a sprinkling of bold minimalism with a striking use of positive and negative space and colour.

		The illustrations almost hark back to the style of the early 20th century travel posters, which would promise all kinds of delights up and down the UK and across the world. But Favre's typical nod to what is described as "Pop Art meets OpArt" – gives the artworks a more modern slant, full of dreamy colours and satisfying shapes and lines.
		 </div>
    </div>
<br>
  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Cristiana Costin</div>
      <br>
        <br>
        <img src="{{url_for('static', filename='costin2.jpg')}}" style="width:90%">
      </div>
    </div>
    <br>
    <br>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='costin1.jpg')}}" style="width:90%">
      </div>
    </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='costin3.jpg')}}" style="width:180%">
 
    </div>
    </div>
    <br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> 

        <p> Combinophy Series – Fubiz Media Combinophy is a photography series made by Romanian graphic designer <b>Cristiana Costin</b>. After having captured daily life scenes, she combines her analog photographs with digital illustrations, transforming images into surreal settings.
        <br> "The project is a personal one, I did it for myself and from the bottom of my heart and it started out as a game in which I tried to combine those old-school features of analog 35 mm photography with the new digital vibe, the minimal stroke, the line, the pure colour because, you know, opposites attract, right?! I used this rule in order to create a powerful contrast between the old and the new, between a realistic view of the reality (the photography) and a minimal, iconic one (the illustration)" writes Costin in her blog.</p>
         </div>
    	</div>

  	<div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Amit Shimoni</div>
        <br>
        <br>
        <img src="{{url_for('static', filename='amit1.jpg')}}" style="width:100%">
      </div>
    </div>
    <br>
    <br>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='amit2.jpg')}}" style="width:100%">
      </div>
    </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='amit3.jpg')}}" style="width:100%">
    </div>
    </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='amit4.jpg')}}" style="width:100%">
    </div>
    </div>
    <br><br>
    <br>
    <br>
        <p> From hairdos, beards, and moustaches to clothes, shoes, and accessories – <b>Amit Shimoni</b> didn’t miss any of today’s biggest trends when he reimagined the world’s leaders as hipsters. In his “Hipstory” illustration series,  leaders that have faded into the past have been brought as close to us as ever.

		“It is my hope that this series will encourage us to reflect: upon our leaders, our society, and ourselves,” the artist wrote on boredpanda. “HIPSTORY wishes not to criticize, but to shed new light on the way we think of ourselves and the figures who inspire us.”</p>

   
    
  </div>
  </div>

<!--galleries -->
<div class="w3-container w3-padding-32" id="galleries">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Featured contemporary art galleries</h3>
		 </div>
    </div>
<br>
   <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
	<a href="https://www.artsy.net/zemack-contemporary-art" class="w3-display-topleft w3-black w3-padding">Zemack Contemporary Art (ZCA) Tel Aviv</a>
	    </div>
    <br><br>
    <br>
    <br>
        <p> ZCA aims to deliver a fresh perspective on contemporary art, created by established Israeli and international artists. Since its foundation in 2010, ZCA has had a notable impact on the Israeli art scene, and is currently considered one of the leading galleries in Tel Aviv.</p>
<div class="w3-display-container">
     
        
      </div>
    </div>
    <br>
    <br>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='zemack2.jpg')}}" style="width:100%">
      </div>
    </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='zemack3.jpg')}}" style="width:180%">
   
 
    </div>
	</div>
    </div>
<br>
   <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
	<a href="http://www.walledoffhotel.com/" class="w3-display-topleft w3-black w3-padding">The Walled Off Hotel by Banksy, Bethlehem</a>
	    </div>
	<br>
    <br>
    <br>
        <p> The famous British artist Banksy is back with a brand new project called “The Walled Off Hotel,” and people can literally sleep inside this work of art. Located in Bethlehem, it offers the ‘worst view in the world’ with windows overlooking the controversial wall that separates the West Bank from Israel. The Walled Off hotel is itself a whole gallery, and presents political and contemporary art. </p>
<div class="w3-display-container">
     
        
      </div>
    </div>
    <br>
    <br>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='wall1.jpg')}}" style="width:100%">
      </div>
    </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{url_for('static', filename='wall2.jpg')}}" style="width:170%">
   
 
    </div>
    </div>

  <!--staff -->
  <div class="w3-container w3-padding-32" id="staff">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Staff</h3>
   <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="ALICIA.img" style="width:85%">
      <h3>Alicia Kamien</h3>
      <p class="w3-opacity">Creator of Designspiration™</p>
      <p>I'm a student from Jerusalem studying in 'Meet'. I myself study design and art, and had interest in creating a platform supporting those intriguing fields. Here are some of my works:</p>
    
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="alicia1.jpg" style="width:100%">
 
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="alicia2.jpg" style="width:90%">
    
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="alicia3.jpg" style="width:100%">

    </form>
  </div>
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p><b>DESIGNSPIRATION</b> get inspired</a></p>
</footer>


</body>
</html>
