<!DOCTYPE html>
<html>
<title>Designsperation - get inspired</title>


<!-- character set and online style sheet -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- navigation bar -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a ><b>DESIGNSPIRATION</b> get inspired</a>
   

    <div class="w3-right w3-hide-small">
      <a href="/home" class="w3-bar-item w3-button">Home</a>
      <a href="/projects" class="w3-bar-item w3-button">Projects</a>
      <a href="/galleries" class="w3-bar-item w3-button">Galleries</a>
      <a href="/staff" class="w3-bar-item w3-button">Staff</a>
      <a href="/signuplogin" class="w3-bar-item w3-button">Sign Up / Login</a>
    </div>
  </div>
</div>
  <!--staff -->
  <div class="w3-container w3-padding-32" id="staff">
  <br>
   <p style="font-size: 20pt;"><b>Staff</b></p>
    <h3 class="w3-border-bottom w3-border-grey w3-padding-16"></h3>
  </div>
   <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="{{url_for('static', filename='ALICIA.img')}}" style="width:85%">
      <h3>Alicia Kamien</h3>
      <p class="w3-opacity">Creator of Designspiration™</p>
      <p>I'm a student from Jerusalem studying in 'Meet'. I myself study design and art, and had interest in creating a platform supporting those intriguing fields. Here are some of my works:</p>
    
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="{{url_for('static', filename='alicia1.jpg')}}" style="width:100%">
 
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="{{url_for('static', filename='alicia2.jpg')}}" style="width:90%">
    
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="{{url_for('static', filename='alicia3.jpg')}}" style="width:100%">

    </form>
  </div>
</div>
<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p><b>DESIGNSPIRATION</b> get inspired</a></p>
</footer>


</body>
</html>